.myfont{
color: darkred;
font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";	
font-family: "DM Serif Display", serif;
}
.mybox{
    height: 144px;
    min-width: 600px;
    border-color: #8D57DC;
    border-width: thin;
    width: 3px;
    color: #55A3BB;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    opacity: 1;
    background-color: #D390DB;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
	
}

#test{
    background-color: #C4FEFF;	
	
}